<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <p appBasicHighlight>This paragraph is using the custom hightlight directive</p>
            <p appBetterHighlight>This paragraph is using renderer2 to highlight the background color</p>
            <!-- <p appBetterHighlight defaultColor="lightgreen" highlightColor="lightblue">This won't work now</p> -->
            <p [appBetterHighlight]="'lightblue'" defaultColor="lightgreen">This will work instead</p>

            <hr />

            <div *ngIf="true">
                <p>this *ngIf is going to translated to below div</p>
            </div>
            <ng-template [ngIf]="true">
                <div>
                    <p>above *ngIf is translated to this</p>
                </div>
            </ng-template>

            <!-- structural directives starts with * so we need to use our directive with start
                otherwise we need to use it like [appUnless]="value" with ng-template -->
            <div *appUnless="false">
                <p>this div is rendered because the condition evaluates to false</p>
            </div>

            <!-- ngSwitch -->
            <hr />
            <p>Use below buttons to set the different value and watch ngSwitch in action</p>
            <div class="btn-group" role="group" aria-label="set value variable">
                <button class="btn btn-primary" type="button" (click)="value = 1">1</button>
                <button class="btn btn-primary" type="button" (click)="value = 10">10</button>
                <button class="btn btn-primary" type="button" (click)="value = 100">100</button>
                <button class="btn btn-primary" type="button" (click)="value = 1000">default</button>
            </div>
            <div [ngSwitch]="value">
                <p *ngSwitchCase="1">Value is 1</p>
                <p *ngSwitchCase="10">Value is 10</p>
                <p *ngSwitchCase="100">Value is 100</p>
                <p *ngSwitchDefault>default case</p>
            </div>
        </div>
    </div>
</div>
