<div class="row">
    <div class="col-xs-12">
        <p>Add new server or blueprint</p>
        <label for="server-name">Server Name</label>
        <input type="text" id="server-name" class="form-control" [(ngModel)]="newServerName" />

        <label for="server-content">Server Content</label>
        <input type="text" id="server-content" class="form-control" [(ngModel)]="newServerContent" />

        <br />

        <button class="btn btn-primary" (click)="onAddServer()">Add server</button>
        <button class="btn btn-primary mx-2" (click)="onAddBlueprint()">Add blueprint</button>
    </div>
</div>
