<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Welcome to basics</h1>
            <hr />

            <!-- with selector: "app-html-in-ts" -->
            <app-html-in-ts></app-html-in-ts>

            <!-- with selector: "[app-html-in-ts]" -->
            <!-- <div app-html-in-ts></div> -->

            <!-- with selector: ".app-html-in-ts" -->
            <!-- <div class="app-html-in-ts"></div> -->

            <hr />
            <!-- data binding -->
            <p>{{ 'Server' }} with ID {{ serverID }} is {{ getServerStatus() }}</p>
            <!-- attribute binding -->
            <button class="btn btn-primary" [disabled]="!shouldAllowAddingServer">Add Server</button>
        </div>
    </div>
</div>
