<div class="container mb-5">
    <div class="row">
        <div class="col-xs-12">
            <h1>Welcome to basics</h1>
            <hr />

            <!-- with selector: "app-html-in-ts" -->
            <app-html-in-ts></app-html-in-ts>

            <!-- with selector: "[app-html-in-ts]" -->
            <!-- <div app-html-in-ts></div> -->

            <!-- with selector: ".app-html-in-ts" -->
            <!-- <div class="app-html-in-ts"></div> -->

            <hr />
            <!-- data binding -->
            <p>{{ 'Server' }} with ID {{ serverID }} is {{ getServerStatus() }}</p>
            <!-- attribute binding -->
            <button class="btn btn-primary" [disabled]="!shouldAllowAddingServer">Add Server</button>
            <!-- property binding vs data binding -->
            <p [innerText]="shouldAllowAddingServer"></p>
            <p>{{ shouldAllowAddingServer }}</p>

            <!-- Event binding -->
            <label>Server Name</label>
            <input (input)="onInputServerName($event)" class="form-control" type="text" />
            <p>Selected Server Name:: {{ serverName }} </p>
            <button class="btn btn-info" (click)="onCreateServer()">Create Server</button>

            <!-- a directive is a attribute or parameter mostly which has it's own functionality -->
            <p *ngIf="isServerCreated; else noServer">Server creation status:: {{ serverCreationStatus }}</p>
            <ng-template #noServer>
                <p class="text-danger">{{ serverCreationStatus }}</p>
            </ng-template>

            <!-- Two way data binding -->
            <!-- NOTE: import FormsModule in the app.module.ts cause here we are using ngModel directive -->
            <input class="form-control" [(ngModel)]="demoServerName" type="text" />

            <!--
                ngIf and ngFor is a structural directory and it changes the DOM (add/remove) but others are not structural directires
                and doesn't change the DOM instead they change the element on they were placed on
            -->
            <p [ngStyle]="{ backgroundColor: getColor() }" [ngClass]="{ 'text-light': serverStatus === 'online' }">
                directive example. Server Example :: {{ serverStatus }}
            </p>

            <!-- ngFor loop through the items and put the value as per the array object -->
            <hr />
            <button class="btn btn-primary" (click)="addARandomNumber()">Add a random number</button>
            <ul>
                <li *ngFor="let number of randomNumbers">{{ number }}</li>
            </ul>

            <!-- ngFor with index -->
            <button class="btn btn-primary" (click)="addARandomNumber()">Add a random number</button>
            <ul>
                <li *ngFor="let number of randomNumbers; let i = index">{{ i + 1 }} - {{ number }}</li>
            </ul>
        </div>
    </div>
</div>
