<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Welcome to basics</h1>
            <hr />

            <!-- with selector: "app-html-in-ts" -->
            <app-html-in-ts></app-html-in-ts>

            <!-- with selector: "[app-html-in-ts]" -->
            <!-- <div app-html-in-ts></div> -->

            <!-- with selector: ".app-html-in-ts" -->
            <!-- <div class="app-html-in-ts"></div> -->

            <hr />
            <!-- data binding -->
            <p>{{ 'Server' }} with ID {{ serverID }} is {{ getServerStatus() }}</p>
            <!-- attribute binding -->
            <button class="btn btn-primary" [disabled]="!shouldAllowAddingServer">Add Server</button>
            <!-- property binding vs data binding -->
            <p [innerText]="shouldAllowAddingServer"></p>
            <p>{{ shouldAllowAddingServer }}</p>

            <!-- Event binding -->
            <label>Server Name</label>
            <input (input)="onInputServerName($event)" class="form-control" type="text" />
            <p>Selected Server Name:: {{ serverName }} </p>
            <button class="btn btn-info" (click)="onCreateServer()">Create Server</button>
            <p>Server creation status:: {{ serverCreationStatus }}</p>
        </div>
    </div>
</div>
