<div class="container mt-4">
  <div class="row mb-2">
    <div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
      <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation">
          <!-- routerLinkActiveOptions will prevent it to be active for all the time when other routes are active -->
          <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" class="nav-link"
            routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item" role="presentation">
          <!-- /users means it is an absolute path, if we use 'users' only then it is a relative path -->
          <a [routerLink]="'/servers'" class="nav-link" routerLinkActive="active">Servers</a>
        </li>
        <li class="nav-item" role="presentation">
          <a [routerLink]="['/users']" class="nav-link" routerLinkActive="active">Users</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<!-- 
  absolute path: '/users'
  relative path: 'users' or './users' or '../users' ...
 -->
