<!-- <h1>Hello Mates</h1>
<h2>Welcome to {{ title }}</h2> -->

<!-- here we are using ngModel so we need to import FormsModule in the app module file in imports section -->
<!-- <input type="text" [(ngModel)]="title" /> -->


<!-- components are in order as progress -->
<!-- <app-basics></app-basics> -->

<!-- app project -->
<!-- <app-project></app-project> -->

<!-- data binding and components -->
<!-- <app-data-binding></app-data-binding> -->

<!-- directives deep dive -->
<app-directives></app-directives>
